*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: aqua;
}

.navbar{
    width:100%
}

.navbarmenu{
    display: flex;
    width: 100%;
    height: 2%;
    font-size: 20px;
    padding: 15px;
    justify-content: space-between;
    background-color: black;
}
ul li a{
    text-decoration: none;
    margin-left: 20px;
    color: orange;
    }



a:hover{
    color: white;
}



@media only screen and(min-width: 10px) and (max-width: 360px){
 

    .navbarmenu{
        display: flex;
        width: 100%;
        height: 2%;
        font-size: 20px;
        padding: 15px;
        justify-content: space-between;
        background-color: black;
    }

    .menu{
        clear: left;
        list-style: none;
    }

    .brand{
        display: none;
    }
}

@media only screen and (min-width: 360px) and (max-width: 550px) {

    .brand{
        display: flex;
    }
    
    .namaawal{
        color: orange;
        font-size: 25px;
    }
    
    .namaakhir{
        color: white;
        font-size: 25px;
        margin-left: 15px;
        font-weight: bold;
    }

    .menu{
        clear: left;
        list-style: none;
    }

    label{
        display: none;
    }
    li{
        display: flex;
    }
}

@media only screen and (min-width: 550px) and (max-width: 730px) {
    
    
    .brand{
        display: flex;
    }
    
    .namaawal{
        color: orange;
        font-size: 25px;
    }
    
    .namaakhir{
        color: white;
        font-size: 25px;
        margin-left: 15px;
        font-weight: bold;
    }

    .menu{
        clear: left;
        list-style: none;
    }

    i.fa-solid.fa-user{
        display: none;
    }

    i.fa-solid.fa-circle-info{
        display: none;
    }

    i.fa-solid.fa-image{
        display: none;
    }

    label{
        display: flex;
    }
    li{
        display: flex;
    }

}

@media only screen and (min-width: 730px) and (max-width: 2000px) {
    .brand{
        display: flex;
    }
    
    .namaawal{
        color: orange;
        font-size: 25px;
    }
    
    .namaakhir{
        color: white;
        font-size: 25px;
        margin-left: 15px;
        font-weight: bold;
    }
    li{
        margin-left: 50px;
        margin-right: 150px;
    }
}




